In [19]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\kings\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\kings\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\kings\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\kings\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\kings\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: outcome in c:\users\kings\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\kings\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\kings\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\kings\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\kings\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\kings\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\kings\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\users\kings\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\kings\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\kings\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\kings\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kings\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [20]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [21]:
#### lets first connect to the server

driver=webdriver.Chrome(r"chromedriver.exe")

#### Question 1

In [22]:
# opening the automated page on automated chrome browser
driver.get("https://www.naukri.com/")# opening the automated page on automated chrome browser

In [23]:
# Entering the designation and location as per the requirement
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [24]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [25]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [26]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [27]:
# scrapping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scrapping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scrapping Company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scrapping experience_required from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [28]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [29]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience_required':experience_required})
df

,Title,Location,Company_name,Experience_required
0,Business Data Analyst (Sr Exe / Asst Manager),Bangalore/Bengaluru,Talentleads,3-5 Yrs
1,Junior Data Analyst/ Scientist- Fresher Position,"Hybrid - Bangalore/Bengaluru, New Delhi, Mumba...",Sejal Consulting Hub,0-5 Yrs
2,Job Opportunity with Leading MNC - Senior Data...,Bangalore/Bengaluru,Enrich And Enlight Business Consulting,5-7 Yrs
3,Manager/Senior Manager - Data Analyst,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Huquo Consulting Pvt. Ltd,2-7 Yrs
4,Junior Data Analyst,Bangalore/Bengaluru,RCPC,0-1 Yrs
5,Manager - Data Analyst,"Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi /...",Huquo Consulting Pvt. Ltd,3-8 Yrs
6,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,2-5 Yrs
7,Sr Data Analyst,Hybrid - Bangalore/Bengaluru,Amolitalents,6-9 Yrs
8,Data Analyst / Sr. Data Analyst / Lead,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Client Of Logical Hiring,3-12 Yrs
9,Data Analyst,Bangalore/Bengaluru,CPA Global,5-10 Yrs

#### Question 2

In [30]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [31]:
#### lets first connect to the server

driver=webdriver.Chrome(r"chromedriver.exe")

In [32]:
# opening the automated page on automated chrome browser
driver.get("https://www.naukri.com/")

In [33]:
# Entering the designation and location as per the requirement
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [34]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [35]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [36]:
job_title=[]
job_location=[]
company_name=[]

In [37]:
# scrapping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scrapping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scrapping Company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [38]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [39]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name})
df

,Title,Location,Company_name
0,Data Scientist,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Tech Mahindra
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft
4,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Hyderabad...",Birlasoft
5,Data Scientist Knowledge graph,"Hybrid - Bangalore/Bengaluru, Pune",Capco
6,Data Scientist,Bangalore/Bengaluru,Infosys
7,Supply Chain Specialist Staff,Bangalore/Bengaluru,Juniper Networks
8,Research Scientist,Bangalore/Bengaluru,Siemens
9,Analytic Delivery Lead,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Gharondaa Advisors

#### Question No 3

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#### lets first connect to the server

driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
# opening the automated page on automated chrome browser
driver.get("https://www.naukri.com/")

In [4]:
# Entering the designation as per the requirement
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [5]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [12]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
location.send_keys("fleft naukicon naukicon-checkbox")

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=109.0.5414.75)
Stacktrace:
Backtrace:
	(No symbol) [0x00796643]
	(No symbol) [0x0072BE21]
	(No symbol) [0x0062D960]
	(No symbol) [0x0065C3BE]
	(No symbol) [0x0065B7AB]
	(No symbol) [0x0067FD7C]
	(No symbol) [0x0065641F]
	(No symbol) [0x006800D4]
	(No symbol) [0x00696B09]
	(No symbol) [0x0067FB76]
	(No symbol) [0x006549C1]
	(No symbol) [0x00655E5D]
	GetHandleVerifier [0x00A0A142+2497106]
	GetHandleVerifier [0x00A385D3+2686691]
	GetHandleVerifier [0x00A3BB9C+2700460]
	GetHandleVerifier [0x00843B10+635936]
	(No symbol) [0x00734A1F]
	(No symbol) [0x0073A418]
	(No symbol) [0x0073A505]
	(No symbol) [0x0074508B]
	BaseThreadInitThunk [0x75BD7D69+25]
	RtlInitializeExceptionChain [0x7733BB9B+107]
	RtlClearBits [0x7733BB1F+191]

#### Question 4

In [99]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [100]:
#### lets first connect to the server

driver=webdriver.Chrome(r"chromedriver.exe")

In [101]:
# opening the automated page on automated chrome browser
driver.get("http://www.flipkart.com/")

In [102]:
# Entering the designation and location as per the requirement
search=driver.find_element(By.CLASS_NAME,"_3704LK")
search.send_keys('Sunglasses')

In [103]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [104]:
brand_name=[]
product_description=[]
product_price=[]

In [105]:
# scrapping brand_tags from the given page
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:10]:
    brand=i.text
    brand_name.append(brand)
    
# scrapping jproduct_description from the given page
product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in product_tags[0:10]:
    product=i.text
    product_description.append(product)
    
# scrapping Cproduct price from the given page
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:10]:
    price=i.text
    product_price.append(price)

In [106]:
print(len(brand_name),len(product_description),len(product_price))

10 10 10

In [107]:
import pandas as pd
df=pd.DataFrame({'Brand':brand_name,'Product':product_description,'Price':product_price})
df

            Brand                                            Product Price
0   NATURE SHADES         UV Protection Retro Square Sunglasses (55)  ₹499
1        RED MONK          UV Protection Rectangular Sunglasses (52)  ₹270
2        Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹599
3       Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹149
4        Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹499
5       Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹129
6      PHENOMENAL         UV Protection Retro Square Sunglasses (53)  ₹129
7  ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...  ₹399
8       Elligator                UV Protection Round Sunglasses (54)  ₹229
9       Elligator                UV Protection Round Sunglasses (53)  ₹149

In [108]:
start=0
end=2
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in titles:
        brand_name.append(brand)
        
    titles=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in titles:
        product_description.append(product)
        
    titles=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in titles:
        product_price.append(price)
    next_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
    time.sleep(3)

In [109]:
print(len(brand_name),len(product_description),len(product_price))

90 88 90

In [110]:
brand_name

['NATURE SHADES',
 'RED MONK',
 'Fastrack',
 'Elligator',
 'Fastrack',
 'Elligator',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator']

In [111]:
product_description

['UV Protection Retro Square Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (53)']

In [112]:
product_price

['₹499',
 '₹270',
 '₹599',
 '₹149',
 '₹499',
 '₹129',
 '₹129',
 '₹399',
 '₹229',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149',
 '₹149']

#### Question 5

In [112]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [113]:
#### lets first connect to the server

driver=webdriver.Chrome(r"chromedriver.exe")

In [114]:
# opening the automated page on automated chrome browser
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [115]:
rating_phone=[]
review_summary=[]
full_review=[]

In [116]:
# scrapping rating_phone from the given page
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:10]:
    rating=i.text
    rating_phone.append(rating)
    
# scrapping review_summary from the given page
review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tags[0:10]:
    review=i.text
    review_summary.append(review)
    
# scrapping full_review from the given page
full_tags=driver.find_elements(By.XPATH,'//div[@class]')
for i in full_tags[0:10]:
    full=i.text
    full_review.append(full_review)

In [117]:
print(len(rating_phone),len(review_summary),len(full_review))

10 10 10

In [118]:
import pandas as pd
df=pd.DataFrame({'Rating':rating_phone,'Review':review_summary,'Full':full_review})
df

,Rating,Review,Full
0,5,Simply awesome,"[[[[[...], [...], [...], [...], [...], [...], ..."
1,5,Perfect product!,"[[[[[...], [...], [...], [...], [...], [...], ..."
2,5,Best in the market!,"[[[[[...], [...], [...], [...], [...], [...], ..."
3,4,Value-for-money,"[[[[[...], [...], [...], [...], [...], [...], ..."
4,5,Highly recommended,"[[[[[...], [...], [...], [...], [...], [...], ..."
5,5,Worth every penny,"[[[[[...], [...], [...], [...], [...], [...], ..."
6,5,Perfect product!,"[[[[[...], [...], [...], [...], [...], [...], ..."
7,5,Highly recommended,"[[[[[...], [...], [...], [...], [...], [...], ..."
8,5,Great product,"[[[[[...], [...], [...], [...], [...], [...], ..."
9,4,Pretty good,"[[[[[...], [...], [...], [...], [...], [...], ..."

#### Question 6